.fetcher_head{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    background-color: lightgray;

    .input_select_div{
        display: flex;
        width: 80%;
        gap: 25px;
        padding: 5px 10px;
        max-height: 3rem;
        align-items: center;
        justify-content: center;
        // margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid #000;

        input{
            font-size: 1.2rem;
            flex: .7;
            outline: none;
            border: none;
            background-color: transparent;
        }

        select {
            font-size: 1.2rem;
            flex: .3;
        }
    }

    .paginationButtonsDiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        width: 50%;


        a{
            color: #0070c0;
            // background-color: #0070c0;
            padding:10px;
            // border-radius: 50%;
            border :1px solid #0070c0;
            cursor: pointer;
            transform: translateY(20px);
            transition: 0.15s all ease;
        }
        :hover{
            top: 0%;
            color: #fff;
            transform: translateY(0);
            background-color: #0070c0;
        }

        .paginationActive {
            a{
                color: #fff;
                background-color: #0070c0;
            }
            
        }

        .disabledPagination{
            a {
                background-color: gray;
                color: #fff;
                border: none;
                cursor: not-allowed;
            }
        }
    }

    .movies_list_shower{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:35px;
        width: 85%;
        padding: 10px;
        border: 2px solid;

        .imageDiv{
            width: 280px;
            height: 420px;
            // border: 1px solid #ff0000;
            border-radius: 10px;
            padding: 10px;
            overflow: hidden;
            position: relative;
            display:flex;
            align-items: center;
            justify-content: center;

            

            &:hover img{
                scale: 1.2;
                filter: blur(5px);
            }

            &:hover .movieTitle{
                bottom: 0px;
            }

            &:hover {
                scale: 1;
            }


            img{
                object-fit: contain;
                height: 100%;
                width: 100%;
                scale: 1;
                transition: all 0.4s ease;

            }

            .movieTitle{
                position: absolute;
                bottom: -100%;
                // border: 1px solid;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                // padding:10px;
                z-index: 999;
                color: #fff;
                background-color: rgba(0,0,0,0.2);
                transition: all 0.4s ease;
                // background-color: #0070c0;

                h4{
                    width: 80%;
                }
            }

        }

        
    }
}